<h1>New stock</h1>
<div class="container">                                                                                         
  <div id="login_form">
    <%= render 'form' %>  
    <br />
    <%= link_to 'Back', stocks_path %>
  </div>
</div>
